.relative-center
  relativeCenter()
.absolute-center
  absoluteCenter()

.absolute-x-center
  position absolute
  left 50%
  transform translateX(-50%)
.absolute-y-center
  position absolute
  top 50%
  transform translateY(-50%)