.flex-center
  flexCenter()
/*
.flex-overflow
  -webkit-overflow-scrolling touch
  position relative
  display flex
  overflow-x auto
  flex-wrap nowrap
  .flex-overflow-item
    display inline-block
    $WIDTH = 180px
    flex 0 0 $WIDTH
    width $WIDTH
*/