// https://getbootstrap.com/docs/4.4/utilities/overflow/
/*
bootstrap 內建
.overflow-auto
.overflow-hidden
*/

.overflow-x-hidden
  overflow-x hidden !important
.overflow-y-hidden
  overflow-y hidden !important
.overflow-x-auto
  overflow-x auto !important
.overflow-y-auto
  overflow-y auto !important